.cooperation-block {
	padding-top: 38px;
	padding-bottom: 100px;
	background-color: #00B956;
	&__title {
		display: block;
		margin-top: 50px;
		margin-bottom: 26px;
		font-size: 48px;
		font-weight: 500;
		line-height: 1;
		color: $gray-color;
		span {
			display: block;
		}
		span.violet {
			color: #731982;
		}
		span.white {
			color: #fff;
		}
	}
	&__text {
		display: block;
		margin-bottom: 70px;
		font-size: 18px;
		line-height: 1;
		font-weight: 400;
		color: #fff;
	}
	&__photo-block {
		position: absolute;
		display: block;
		right: 0;
		bottom: 0;
		margin-bottom: -100px;
		img {
			display: inline-block;
			width: 687px;
			height: 396px;
			object-fit: contain;
		}
	}
}