.heading-block {
	position: relative;
	padding-top: 89px;
	&__background-block {
		background-image: url('../img/first-block-bg.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&__title {
		display: block;
		padding-top: 152px;
		padding-bottom: 17px;
		font-size: 72px;
		font-weight: 700;
		line-height: 1;
	}
	&__title span {
		display: block;
		&.violet {
			color: #731982;
		}
		&.green {
			color: #00B956;
		}
	}
	&__description {
		display: block;
		padding-bottom: 178px;
		font-size: 36px;
		font-weight: 500;
		line-height: 1.0625;
		color: $gray-color;
	}
}