.swiper-button-prev, .swiper-button-next {
	width: 102px;
	height: 102px;
	background-size: cover;
	outline: none;
}

.swiper-button-prev {
	left: -175px;
	background-image: url('../img/arrow.svg');
	background-repeat: no-repeat;
}

.swiper-button-next {
	right: -175px;
	background-image: url('../img/arrow.svg');
	background-repeat: no-repeat;
	transform: rotate(180deg);
}

.swiper-slide {
	box-sizing: border-box;
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
}