<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-5 col-xl-3">
				<div class="page-footer__contacts-block">
					<a href="tel:+79000000000">+7 (900) 000-00-00</a>
					<a href="tel:+79000000000">+7 (900) 000-00-00</a>
				</div>
				<div class="page-footer__copyright-block">
					<span class="page-footer__copyright-age">6+</span>
					<span class="page-footer__copyright">© 2019 ПАО «МегаФон»</span>
				</div>
			</div>
			<div class="col-12 col-md-7 offset-md-0 col-xl-6 offset-xl-3">
				<div class="page-footer__right-part">
					<a class="page-footer__mail-link" href="mailto:info@megafon.ru">info@megafon.ru</a>
					<div class="page-footer__policy-block">
						<p>Продолжая использовать наш сайт, вы даете согласие на обработку файлов Cookies и других пользовательских данных, в соответствии с <a href="#">Политикой конфиденциальности</a>.</p>
					</div>
					<div class="page-footer__creator-block">
						<span>Сделано в</span>
						<svg width="100" height="23">
							<use xlink:href="#copyright"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>