<header id="header" class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="page-header__row">
					<a href="index.html" class="page-header__logo">
						<img src="img/logo.svg" alt="">
					</a>
					<div class="page-header__location-block">
						<svg width="24" height="24" class="icon--point">
							<use xlink:href="#point"></use>
						</svg>
						<span class="page-header__location-city">Краснодар</span>
					</div>
					<div class="page-header__contacts-block">
						<a href="tel:+79000000000">+7 (900) 000-00-00</a>
						<a href="tel:+79000000000">+7 (900) 000-00-00</a>
					</div>
					<div class="page-header__exit-block">
						<button class="btn btn--cabinet" type="button">
							<svg width="24" height="24">
								<use xlink:href="#small_key"></use>
							</svg>
							<span>Личный кабинет</span>
						</button>
					</div>
					<a href="javascript:;" class="page-header__toggle">
						<svg width="32" height="32">
							<use xlink:href="#key"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>





